streamlit
google-genai
gspread
google-auth
pillow
pandas
plotly
pymupdf
llama-index
llama-index-llms-google-genai
llama-index-embeddings-google-genai
streamlit-autorefresh
streamlit-image-coordinates
